.image {
  width: 100px; /* Adjust size of the loader */
  height: 100px;
}

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.dotsContainer {
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, #a7f3d0, #60a5fa);
  border-radius: 50%;
}
