.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 80vh;
    overflow: auto;
    margin: auto;
    color: var(--color-header);
}

.container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.contsinerReviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

@media (768px <= width <= 1200px ) {
    .contsinerReviews {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width <= 768px) {
    .contsinerReviews {
        grid-template-columns: 1fr;
    }
}
