.footer {
  display: flex;
}

.links {
  display: flex;
  place-content: center;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;

  a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
  }
}
