.header {
    display: flex;
    position: relative;
    height: 85px;
    max-width: 100%;
}

.nav {
    display: flex;
    margin: 0;
}

.list {
    display: flex;
    list-style: none;
    place-content: center;
    place-items: center;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    display: flex;
    place-content: center;
    place-items: center;
    width: 80px;
    height: 45px;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--color-text-primary);
    font-size: var(--font-size-secondary);
    background: var(--color-header);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img {
    width: 64px;
    height: 64px;
    margin: 0 8px;
    display: flex;
    place-content: center;
    place-items: center;
}
