.header {
  display: flex;
  place-items: center;
  place-content: center;
  position: relative;
  height: 85px;
  width: 100%;
}

.nav {
  display: flex;
  margin: 0;
  padding: 16px;
}

.img {
  width: 64px;
  height: 64px;
  margin: 0 8px;
}
