.header {
    display: flex;
    position: fixed;
    top: 0;
    height: 85px;
    max-width: 100%;
}

.nav {
    display: flex;
    margin: 0;
}

.list {
    display: flex;
    list-style: none;
    place-content: center;
    place-items: center;
    margin: 0;
    padding: 0;
    
}

.link {
    text-decoration: none;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 0 15px;
    height: 45px;
    border-radius: var(--border-radius);
    margin: 0 3px;
    cursor: pointer;
    color: var(--color-text-primary);
    font-size: var(--font-size-secondary);
    background: linear-gradient(
        90deg,
        #f8dc7b 0%,
        #f79e77 20%,
        #d862b2 40%,
        #802f9a 60%,
        #602080 80%,
        #3b1765 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkBackground {
    background-color: rgb(var(--color-container));
    border-radius: var(--border-radius);
    margin: var(--padding);
}
