.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: -30px auto;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
