.container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    place-items: center;
    position: relative;
    overflow: auto;
    max-height: 80vh;
    background: rgba(var(--color-container), .8);
    padding: var(--padding-container);
    border-radius: var(--border-radius);
    float: left;
}

.container::-webkit-scrollbar {
    width: 12px;
}

.container::-webkit-scrollbar-track {
    background: #f79e77;
    border-radius: 0 12px 12px 0;
}

.container::-webkit-scrollbar-thumb {
    background: rgba(var(--color-container), .8);
    border-radius: 0 12px 12px 0;
}

.subtitle {
    width: 100%;
    display: flex;
    color: var(--color-text-primary);
}

.text {
    width: 100%;
    display: flex;
    color: var(--color-text-primary);
}
